<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MHWorld-Data v0.5.0</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">MHWorld Data</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link text-dark c-pointer" data-toggle="collapse" data-target=".navbar-collapse" onclick="ShowSection(1)">Monsters</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="text-center mb-3" id="loadingDiv">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div id="mhwMonsterApp" style="display:none;">
            <h2>Monsters</h2>
            <div class="input-group mb-3">
                <input id="monsterSearchBox" type="text" class="form-control" v-model="searchBox" v-on:keyup.enter="FilterMonsters()" placeholder="Monster Name" tabindex="1">
                <select class="form-control" v-model="typeBox" v-on:change="FilterMonsters()" tabindex="2">
                    <option value="">
                        All
                    </option>
                    <option v-for="(type, index) in types" v-bind:value="type">
                        {{type}}
                    </option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" v-on:click="FilterMonsters()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="input-group mb-3">
                <input id="itemSearchBox" type="text" class="form-control" v-model="itemSearchBox" v-on:keyup.enter="FilterItems()" placeholder="Guiding Lands Material (ALPHA: Working on)">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" v-on:click="FilterItems()">
                        <i class="fab fa-searchengin"></i>
                    </button>
                </div>
            </div>
            <ul class="list-group">
                <li v-for="(monster, index) in monstersFiltered" class="list-group-item">
                    <a data-toggle="modal" data-target="#dataModal" v-on:click="SelectMonster(monster)" href="" style="font-weight:500; cursor:pointer;" tabindex="3">
                        {{monster.Name}}
                    </a>
                    <button class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#dataModal" v-on:click="SelectMonsterDrop(monster)" tabindex="3">
                        DROPS
                    </button>
                    <span class="text-muted float-right mt-1" style="font-size:12px;">
                        &nbsp; {{monster.Type}} &nbsp;
                    </span>
                </li>
            </ul>

            <!-- Modal -->
            <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dataModalLabel" v-if="monsterSelected">{{monsterSelected.Name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs card-header-tabs" style="margin:0px !important; padding-bottom:2px !important;">
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click="tabActived=0" v-bind:class="{'active':tabActived==0}" href="#">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click="tabActived=1" v-bind:class="{'active':tabActived==1}" href="#">Hit Data</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click="tabActived=2" v-bind:class="{'active':tabActived==2}" href="#">Flinch Data</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" v-on:click="tabActived=3" v-bind:class="{'active':tabActived==3}" href="#">Drops</a>
                                </li>
                            </ul>
                            <div v-show="tabActived==0">
                                <div v-if="physicologySelected">
                                    <div class="row no-gutters">
                                        <div class="col-6">
                                            <table class="table table-bordered table-sm">
                                                <thead class="thead-dark">
                                                    <tr class="text-center">
                                                        <th colspan="2">Elements</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(element, index) in physicologySelected.Resistances.Element">
                                                        <td style="white-space:nowrap;">
                                                            <img v-bind:src="'images/element/' + elements[index] + '-icon.png'" style="height:16px; width:auto;" />
                                                            <span class="text-capitalize">{{elements[index]}}</span>
                                                        </td>
                                                        <td>
                                                            <span v-if="element[0] > 0">
                                                                <span v-for="(item, index) in element[0]">
                                                                    <i class="fas fa-star text-warning"></i>
                                                                </span>
                                                            </span>
                                                            <span v-else>
                                                                <i class="fas fa-times text-danger"></i>
                                                            </span>
                                                            <span v-if="element.length > 1" style="white-space:nowrap;">
                                                                <span v-for="(extra, index) in element" v-if="index > 0">
                                                                    <span v-if="extra > 0">
                                                                        (<!----><span v-for="(item, index) in extra">
                                                                            <i class="fas fa-star text-warning"></i>
                                                                        </span><!---->)
                                                                    </span>
                                                                    <span v-else>
                                                                        (<i class="fas fa-times text-danger"></i>)
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot v-if="physicologySelected.Resistances.ElementStates[0]">
                                                    <tr>
                                                        <td colspan="2">
                                                            <span v-for="(state, index) in physicologySelected.Resistances.ElementStates" v-if="state">
                                                                (&nbsp;) When {{state}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="col-6">
                                            <table class="table table-bordered table-sm">
                                                <thead class="thead-dark">
                                                    <tr class="text-center">
                                                        <th colspan="2">Ailments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(ailment, index) in physicologySelected.Resistances.Ailment">
                                                        <td style="white-space:nowrap;">
                                                            <img v-bind:src="'images/ailment/' + ailments[index] + '-icon.png'" style="height:16px; width:auto;" />
                                                            <span class="text-capitalize">{{ailments[index]}}</span>
                                                        </td>
                                                        <td>
                                                            <span v-if="ailment[0] > 0">
                                                                <span v-for="(item, index) in ailment[0]">
                                                                    <i class="fas fa-star text-warning"></i>
                                                                </span>
                                                            </span>
                                                            <span v-else>
                                                                <i class="fas fa-times text-danger"></i>
                                                            </span>
                                                            <span v-if="ailment.length > 1">
                                                                <span v-for="(extra, index) in ailment" v-if="index > 0">
                                                                    <span v-if="extra > 0">
                                                                        (<!----><span v-for="(item, index) in extra">
                                                                            <i class="fas fa-star text-warning"></i>
                                                                        </span><!---->)
                                                                    </span>
                                                                    <span v-else>
                                                                        (<i class="fas fa-times text-danger"></i>)
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot v-if="physicologySelected.Resistances.AilmentStates[0]">
                                                    <tr>
                                                        <td colspan="2">
                                                            <span v-for="(state, index) in physicologySelected.Resistances.AilmentStates" v-if="state">
                                                                (&nbsp;) When {{state}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div v-if="ecologySelected">
                                                Habitats:
                                                <span v-for="habitat, index) in ecologySelected.Habitats">
                                                    {{habitat}}
                                                    <span v-if="index < ecologySelected.Habitats.length - 1"> - </span>
                                                </span>
                                                <br />
                                                Crowns:
                                                <img src="images/crown/crown_mini.png" class="pb-2" style="width:16px;height:auto;" />
                                                {{ecologySelected.Crowns[0]}}cm
                                                <img src="images/crown/crown_large.png" class="pb-2" style="width:16px;height:auto;" />
                                                {{ecologySelected.Crowns[1]}}cm
                                                <img src="images/crown/crown_king.png" class="pb-2" style="width:16px;height:auto;" />
                                                {{ecologySelected.Crowns[2]}}cm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-show="tabActived==1">
                                <table class="table table-striped table-sm" style="overflow-x:auto;" v-if="physicologySelected">
                                    <thead>
                                        <tr>
                                            <th class="text-left c-pointer" v-on:click="RestoreMonsterData(monsterSelected.Id)">
                                                Part
                                            </th>
                                            <th class="text-center c-pointer" v-on:click="OrderHitDataBy('Sever')">
                                                <abbr title="Sever">
                                                    <img src="images/weapons/greatsword-icon.png" style="height:16px;width:auto;" />
                                                </abbr>
                                            </th>
                                            <th class="text-center c-pointer" v-on:click="OrderHitDataBy('Blunt')">
                                                <abbr title="Blunt">
                                                    <img src="images/weapons/hammer-icon.png" style="height:16px;width:auto;" />
                                                </abbr>
                                            </th>
                                            <th class="text-center c-pointer" v-on:click="OrderHitDataBy('Ranged')">
                                                <abbr title="Ranged">
                                                    <img src="images/ammo/ammo-normal-icon.png" style="height:16px;width:auto;" />
                                                </abbr>
                                            </th>
                                            <th class="text-center c-pointer" v-on:click="OrderHitDataBy('Fire')">
                                                <img src="images/element/fire-icon.png" style="height:20px;width:auto;" />
                                            </th>
                                            <th class="text-center c-pointer" v-on:click="OrderHitDataBy('Water')">
                                                <img src="images/element/water-icon.png" style="height:20px;width:auto;" />
                                            </th>
                                            <th class="text-center c-pointer" v-on:click="OrderHitDataBy('Thunder')">
                                                <img src="images/element/thunder-icon.png" style="height:16px;width:auto;" />
                                            </th>
                                            <th class="text-center c-pointer" v-on:click="OrderHitDataBy('Ice')">
                                                <img src="images/element/ice-icon.png" style="height:16px;width:auto;" />
                                            </th>
                                            <th class="text-center c-pointer" v-on:click="OrderHitDataBy('Dragon')">
                                                <img src="images/element/dragon-icon.png" style="height:18px;width:auto;" />
                                            </th>
                                            <th class="text-center c-pointer" v-on:click="OrderHitDataBy('Stun')">
                                                <img src="images/ailment/stun-icon.png" style="height:20px;width:auto;" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(hit, index) in physicologySelected.HitData">
                                            <td class="text-left">{{hit.Part}}</td>
                                            <td class="text-center">{{hit.Sever}}</td>
                                            <td class="text-center">{{hit.Blunt}}</td>
                                            <td class="text-center">{{hit.Ranged}}</td>
                                            <td class="text-center">{{hit.Fire}}</td>
                                            <td class="text-center">{{hit.Water}}</td>
                                            <td class="text-center">{{hit.Thunder}}</td>
                                            <td class="text-center">{{hit.Ice}}</td>
                                            <td class="text-center">{{hit.Dragon}}</td>
                                            <td class="text-center">{{hit.Stun}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-show="tabActived==2">
                                <table class="table table-striped" v-if="physicologySelected">
                                    <thead>
                                        <tr>
                                            <th>
                                                Part
                                            </th>
                                            <th class="text-center">
                                                Value
                                            </th>
                                            <th class="text-center">
                                                Extract
                                            </th>
                                            <th class="text-center">
                                                Sever
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(hit, index) in physicologySelected.FlinchData">
                                            <td class="text-left">{{hit.Part}}</td>
                                            <td class="text-center">{{hit.Value}}</td>
                                            <td class="text-center">{{hit.Extract}}</td>
                                            <td class="text-center">{{hit.Sever}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-show="tabActived==3">
                                <div v-if="!dropSelected">
                                    Sorry, there is no data.
                                    If you want to collaborate send the data by DM to <a href="https://twitter.com/MHWorldBuilder"> MHWorldBuilder</a>.
                                    Template:<br />
                                    <code>
                                        {
                                        "Id": "dummy",
                                        "Drops": [
                                        {
                                        "Rank": "Low",
                                        "Carves": [
                                        {
                                        "Item": "{0} ",
                                        "Frecuency": 0
                                        }
                                        ],
                                        "Rewards": [
                                        {
                                        "Item": "{0} ",
                                        "Frecuency": 0
                                        }
                                        ],
                                        "Special": [
                                        {
                                        "Condition": "",
                                        "Items": [ "" ]
                                        }
                                        ]
                                        }
                                        ],
                                        "GuidingLands": {
                                        "Regions": [
                                        {
                                        "Name": "",
                                        "Level": 0,
                                        "Frecuency": 0,
                                        "LevelTempered": 0,
                                        "FrecuencyTempered": 0
                                        }
                                        ],
                                        "Obtenibles": [
                                        {
                                        "Item": "{0} ",
                                        "Frecuency": 0
                                        }
                                        ],
                                        "ObteniblesTempered": [
                                        {
                                        "Item": "{0} ",
                                        "Frecuency": 0
                                        }
                                        ]
                                        }
                                        }
                                    </code>
                                </div>
                                <div v-else>
                                    <span class="c-pointer" v-bind:class="{'text-muted':dropIndex != index || showGL}" v-for="(drop, index) in dropSelected.Drops" v-on:click="SelectDropIndex(index)">
                                        <i class="fas fa-circle fa-sm "></i>{{drop.Rank}}
                                    </span>
                                    <span class="c-pointer" v-bind:class="{'text-muted':!showGL}" v-on:click="showGL = !showGL">
                                        <i class="fas fa-circle fa-sm"></i>Guiding Lands
                                    </span>
                                    <div v-show="!showGL">
                                        <table class="table table-striped table-sm">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th colspan="2" class="text-center">Carves</th>
                                                </tr>
                                                <tr>
                                                    <th>Item</th>
                                                    <th class="w-33">Frecuency</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(drop,index) in dropSelected.Drops[dropIndex].Carves">
                                                    <td>
                                                        {{drop.Item.replace('{0}',monsterSelected.Name)}}
                                                    </td>
                                                    <td>
                                                        <span v-for="(item, index) in drop.Frecuency">
                                                            <i class="fas fa-star text-warning"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped table-sm">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th colspan="2" class="text-center">Rewards</th>
                                                </tr>
                                                <tr>
                                                    <th>Item</th>
                                                    <th class="w-33">Frecuency</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(drop,index) in dropSelected.Drops[dropIndex].Rewards">
                                                    <td>
                                                        {{drop.Item.replace('{0}',monsterSelected.Name)}}
                                                    </td>
                                                    <td>
                                                        <span v-for="(item, index) in drop.Frecuency">
                                                            <i class="fas fa-star text-warning"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped table-sm">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th colspan="2" class="text-center">Special</th>
                                                </tr>
                                                <tr>
                                                    <th>Condition</th>
                                                    <th>Item</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(special, index) in dropSelected.Drops[dropIndex].Special">
                                                    <td>{{special.Condition}}</td>
                                                    <td>
                                                        <span v-for="(item, index) in special.Items">
                                                            {{monsterSelected.Name}} {{item}}
                                                            <br v-if="index < special.Items.length - 1" />
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div v-show="showGL">
                                        <table class="table table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th colspan="2" class="text-center">Obtenibles</th>
                                                </tr>
                                                <tr>
                                                    <th>Item</th>
                                                    <th class="w-33">Frecuency</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(drop, index) in dropSelected.GuidingLands.Obtenibles">
                                                    <td>
                                                        {{drop.Item}}
                                                    </td>
                                                    <td>
                                                        <span v-for="(item, index) in drop.Frecuency">
                                                            <i class="fas fa-star text-warning"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th colspan="2" class="text-center">Obtenibles Tempered</th>
                                                </tr>
                                                <tr>
                                                    <th>Item</th>
                                                    <th class="w-33">Frecuency</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(drop, index) in dropSelected.GuidingLands.ObteniblesTempered">
                                                    <td>{{drop.Item}}</td>
                                                    <td>
                                                        <span v-for="(item, index) in drop.Frecuency">
                                                            <i class="fas fa-star text-warning"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span v-for="region in dropSelected.GuidingLands.Regions">
                                            <i class="fas fa-dot-circle fa-sm"></i> Region: {{region.Name}}
                                            <br />
                                            - Level: <strong class="text-info">{{region.Level}}</strong>
                                            - Frecuency:
                                            <span v-for="(item, index) in region.Frecuency">
                                                <i class="fas fa-star fa-sm text-info"></i>
                                            </span>
                                            <br />
                                            ∘ Tempered Level: <strong class="text-info">{{region.LevelTempered}}</strong>
                                            - Frecuency:
                                            <span v-for="(item, index) in region.FrecuencyTempered">
                                                <i class="fas fa-star fa-sm text-info"></i>
                                            </span>
                                            <br />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <br />
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - MHWorldWeb
        </div>
    </footer>

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="js/site.js" asp-append-version="true"></script>

    <script>
        $(function () {
            $("#mhwMonsterApp").show();
            $("#loadingDiv").hide();

            document.addEventListener('keydown', logKey);
        });

        function logKey(e) {
            //console.log(e);
            if (e.code === 'F2') {
                document.getElementById("monsterSearchBox").focus();
            }
        };

        function ShowSection(section) {
            if (section == 1) {
                $("#mhwMonsterApp").show();
            } else if (section == 2) {
                $("#mhwMonsterApp").hide();
            }
        }
    </script>

    <link href="css/monster.css" rel="stylesheet" />
    <script src="json/monsters.js"></script>
    <script src="lib/axios/axios.js"></script>
    <script src="lib/vue/vue.js"></script>
    <script src="app/mhwMonsterApp.js"></script>
</body>
</html>
